// COLORS
$primary-color: #EFCB68;
$secondary-color: #160C28;

$white-color: #E1EFE6;

$dark-grey: #AEB7B3;

$dark-blue-text: #000411; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
