// COLORS
$primary-color: #bd632f;
$secondary-color: #d8973c;

$white-color: #d8c99b;

$dark-grey: #273e47;

$dark-blue-text: #a4243b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
