// COLORS
$primary-color: #935e38;
$secondary-color: #d3630d;

$white-color: #e19836;

$dark-grey: #4a473e;

$dark-blue-text: #263c41; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
